version: '3.6'

services:
  api:
    build:
      context: .
      dockerfile: container/Dockerfile
    volumes:
      - ${PWD}:/code:cached
    ports:
      - "8080:8080"
    container_name: api
    command: sleep infinity
    networks:
        - api-net
networks:
  api-net: